@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/weather2.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url(images/weather2.jpg);
    background-size: cover;
    background-position: center;

    filter: blur(5px) brightness(0.6);
    z-index: -1;
}

.heading{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 64px;
    font-weight: 400;
    background: #bee9e8;
    background-size: 400% 400%;
    text-shadow: 0 0 15px rgba(165, 222, 234, 0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 6s ease infinite;
    
}
.tagline {
    position: absolute;
    top: 100px;
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
}
.card {
    width: 90%;
    max-width: 470px;
    min-height: 500px;
    background: linear-gradient(155deg, #90e0ef, #f48c06);

    color: #fff;
    margin: 20px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.title {
    margin-bottom: 10px;
}

.search {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* INPUT */
.search input {
    width: 100%;
    padding: 14px 55px 14px 20px;
    border-radius: 50px;
    border: none;
    outline: none;

    font-size: 15px;
    color: #333;

    background: rgba(255, 255, 255, 0.956);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

/* FOCUS EFFECT */
.search input:focus {
 
    box-shadow: 
        0 15px 50px rgba(0,0,0,0.4),
        0 0 30px rgba(255,255,255,0.4);
}

/* BUTTON */
.search button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #a0dae5, #67c2f3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    transition: 0.3s ease;
}

/* ICON */
.search img {
    width: 16px;
    filter: brightness(0) invert(1);
}

/* HOVER */
.search button:hover {
    transform: translateY(-50%) scale(1.1);
}

/* CLICK */
.search button:active {
    transform: translateY(-50%) scale(0.95);
}

/* MOBILE */
@media (max-width:480px){
    .search input {
        padding: 12px 50px 12px 16px;
        font-size: 14px;
    }

    .search button {
        width: 38px;
        height: 38px;
    }
}

.location-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.15);
}



.weather-icon {
    width: 170px;
    margin: 10px 0;
}

.temp {
    font-size: 64px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.city {
    font-size: 40px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
}

.col {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.col img {
    width: 35px;
}

.error {
    display: none;
    color: #d6c2c2;
    margin-top: 10px;
    font-size: 12px;
}

.loader {
    display: none;
    margin: 20px auto;
    border: 4px solid white;
    border-top: 4px solid transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width:480px){

body{
    background-size: 140%;
    background-position: center;
}
}

.card{
width:90%;
padding:20px;
}

.weather-icon{
width:120px;
}

.temp{
font-size:48px;
}

.city{
font-size:28px;
}

.details{
margin-top:30px;
padding:10px;
}

.col img{
width:28px;
}

#rainCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    display: none;
}

.weather-status {
    font-size: 18px;
    margin-top: 5px;
    opacity: 0.9;
    letter-spacing: 1px;
}